body, html {
  font-family: 'Karla', sans-serif;
  background-color: #dad7cd;
}

.message-container {
  width: 300px;
}


.message {
  font-size: 20px;
  font-weight: 700;
  color: #081c15; /*green sign in*/
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 400px;
  margin: 30px auto;
  align-items: center;
  justify-content: center;
  background-color: #cac9c9;
  border-radius: 4px;
}